.nav-item a {
  color: #fff;
  padding: 0.7rem;
  margin: 0.3rem;
  display: block;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
}
.nav-item a.active {
  background: #5e72e4;
}
.nav-item a:hover {
  background: #5e72e4;
}
