<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title>Server</title>
    <link rel="stylesheet" href="./assets/lib/argon.css" />
    <link
      rel="stylesheet"
      href="./assets/lib/bootstrap-sweetalert/css/bootstrap-sweetalert.min.css"
    />

    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <main class="d-flex  vh-100 " id="app">
      <div
        id="sidebar"
        class="sidebar--content p-2 bg-gradient-default d-flex flex-column justify-content-between"
      >
        <ul class="nav flex-column   p-0">
          <li class="nav-item" @click="active='user'">
            <a href="#" :class="[active=='user'?'active':'']">Users</a>
          </li>
          <li class="nav-item" @click="active='transactions'">
            <a href="#" :class="[active=='transactions'?'active':'']"
              >Transactions</a
            >
          </li>
          <li class="nav-item" @click="active='traffic'">
            <a href="#" :class="[active=='traffic'?'active':'']">Traffic</a>
          </li>
        </ul>
      </div>
      <div class="content p-2 bg-secondary flex-grow-1">
        <div class="user" v-if="active=='user'">
          <div class="add-user-model d-flex">
            <div class="d-flex flex-grow-1 justify-content-around p-2">
              <div class="form-group has-danger ">
                <input
                  style="width: 300px;"
                  type="text"
                  placeholder="Name"
                  v-model="user.name"
                  class="form-control form-control-alternative is-invalid"
                />
              </div>
              <div class="form-group has-danger ">
                <input
                  style="width: 300px;"
                  type="password"
                  v-model="user.password"
                  placeholder="Passowrd"
                  class="form-control form-control-alternative is-invalid"
                />
              </div>
              <div class="form-group   has-danger ">
                <input
                  style="width: 300px;"
                  type="number"
                  v-model="user.accountBalance"
                  placeholder="Account Balance"
                  class="form-control form-control-alternative is-invalid"
                  min="0"
                  step="500"
                />
              </div>
            </div>
            <div class="p-2">
              <button class="btn btn-primary" @click="addUser">ADD User</button>
            </div>
          </div>
          <div
            class="user-table"
            style="height: calc(100vh - 100px);overflow-y: auto;"
          >
            <table class="table">
              <thead class="" style="color: #fff;background: #172b4d ;">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">الاسم</th>
                  <th scope="col">رقم الحساب</th>
                  <th scope="col">الرصيد</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user, index) in users">
                  <th scope="row">{{index}}</th>
                  <td>{{user.name}}</td>
                  <td>{{user._id}}</td>
                  <td>{{user.accountBalance}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div
          class="transactions"
          v-if="active=='transactions'"
          style="height: 95vh;overflow-y: auto;"
        >
          <table class="table">
            <thead class="" style="color: #fff;background: #172b4d ;">
              <tr>
                <th scope="col">#</th>
                <th scope="col">المرسل</th>
                <th scope="col">المستقبل</th>
                <th scope="col">القيمة</th>

                <th scope="col">السبب</th>
                <th scope="col">التاريخ</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, index) in users">
                <th scope="row">{{index}}</th>
                <td>{{user.name}}</td>
                <td>{{user._id}}</td>
                <td>{{user.accountBalance}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="traffic" v-if="active=='traffic'">traffic</div>
      </div>
    </main>

    <script src="./assets/lib/vue/vue.min.js"></script>
    <script src="./assets/lib/bootstrap-sweetalert/js/bootstrap-sweetalert.min.js"></script>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
