<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="./assets/lib/bootstrap-sweetalert/css/bootstrap-sweetalert.min.css"
    />

    <link rel="stylesheet" href="./assets/lib/argon.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <main id="app" class="min-vh-100  d-flex ">
      <div
        id="sid-par"
        class=" p-4 bg-gradient-default d-flex flex-column justify-content-between"
        style="min-width: 250px;"
      >
        <ul class="nav flex-column   p-0">
          <li class="nav-item" @click="active='add-transaction'">
            <a href="#" :class="active=='add-transaction'?'active':''">
              add Transaction
            </a>
          </li>
          <li class="nav-item" @click="active='reciving-transaction'">
            <a href="#" :class="active=='reciving-transaction'?'active':''">
              Receiving Transaction
            </a>
          </li>
          <li
            class="nav-item"
            @click="active='senting-transaction'"
            :class="active=='senting-transaction'?'active':''"
          >
            <a href="#" class="">
              Senting Transaction
            </a>
          </li>
        </ul>
      </div>
      <div class="p-3 flex-grow-1">
        <div
          class="card shadow p-3"
          id="reciving-transaction"
          v-if="active=='reciving-transaction'"
        >
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">date</th>
                <th scope="col">from</th>
                <th scope="col">amount</th>
                <th scope="col">reason</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div
          class="card shadow p-3"
          id="senting-transaction"
          v-if="active=='senting-transaction'"
        >
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">date</th>
                <th scope="col">to</th>
                <th scope="col">amount</th>
                <th scope="col">reason</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>

        <div
          class="card shadow"
          id="add-transaction"
          v-if="active=='add-transaction'"
        >
          <div class="card-body p-5">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    placeholder="user name"
                    v-model="from"
                    type="text"
                    @keyup.enter="addTransaction"
                    @keyup.tab="$event.target.nextElementSibling.focus()"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    placeholder="password"
                    v-model="password"
                    type="password"
                    @keyup.enter="addTransaction"
                    @keyup.tab="$event.target.nextElementSibling.focus()"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    placeholder="to"
                    type="text"
                    v-model="to"
                    @keyup.enter="addTransaction"
                    @keyup.tab="$event.target.nextElementSibling.focus()"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    placeholder="amount"
                    type="number"
                    v-model="amount"
                    min="0"
                    step="500"
                    @keyup.enter="addTransaction"
                    @keyup.tab="$event.target.nextElementSibling.focus()"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    placeholder="reason"
                    v-model="reason"
                    @keyup.enter="addTransaction"
                  >
                  </textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary float-right" @click="addTransaction">
              send
            </button>
          </div>
        </div>
      </div>
    </main>

    <script src="./assets/lib/bootstrap-sweetalert/js/bootstrap-sweetalert.min.js"></script>
    <script src="./assets/lib/vue/vue.min.js"></script>
    <script src="./assets/lib/Socket.IO/Socket.IO.js"></script>
    <script src="./assets/js/const.js"></script>
    <script src="./assets/js/socket.js"></script>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
